<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput disabled="disabled" readonly="readonly" placeholder="Nome"
            [value]="product.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput disabled="disabled" readonly="readonly" placeholder="Preço"
            [value]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()"
    color="accent"> 
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()"> 
        Cancelar
    </button>
</mat-card>